.footer {
    background-color: #111111;
    .main-layout {
        max-width: 921px;
        margin-left: 165px;
        padding-top: 78px;
        @media (max-width: $mobile-breakpoint) {
            margin-left: 59px;
            padding-top: 80px;
            max-width: 256px;
            flex-direction: column;
        }
    }
    p {
        font-size: 14px;
        font-family: Spartan-Regular;
        color: white;
        margin-bottom: 10px;
    }
    .logo {
        width: 104px;
        height: 40px;
        margin-right: 192px;
        @media (max-width: $mobile-breakpoint) {
            margin-right: unset;
            margin-bottom: 43px;
        }
    }
    .pos {
        margin-right: 165px;
        @media (max-width: $mobile-breakpoint) {
            margin-right: unset;
            margin-bottom: 49px;
        }
    }
    .open-times {
        @media (max-width: $mobile-breakpoint) {
            margin-bottom: 94px;
        }
    }
}
